# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Dependencies
/node_modules
/vendor

# Build and Assets
/public/build
/public/hot

# Environment
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
/auth.json

# Storage, Logs, and Cache
/storage/*.key
/storage/pail
/storage/logs
/public/laravel.log
npm-debug.log
yarn-error.log
/.phpunit.cache
.phpunit.result.cache